* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

.template-container {

    display: grid;
    background-color: grey;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 94vh;
    width: 100%;
    grid-template-areas:
        'header header     '
        'nav main    '
        'footer footer      '
    ;
}

.grid-container {

    display: grid;
    height: 90vh;

    border: 1px solid black;
    justify-items: start;
}

.grid-item {
    flex-wrap: wrap;
    display: flex;
    flex-direction: col;
    justify-content: start;
    padding: 1%;
    height: 90vh;
    margin: 0% 0% 2% 0%;

    img {

        width: 60%;
        height: 60%;

    }
}

header {

    grid-area: header;
    background-color: #004988;
    height: 40px;
    color: white;


}

.comprar {


    background-color: #004988;
    height: 40px;
    width: 60%;
    color: white;
}

main {

    grid-area: main;
    background-color: grey;
    justify-items: start;
    height: 90vh;
    margin: 0% 0% 2% 1%;


}

.flex {

    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: auto;
    gap: 10px;
}

img {
    width: 40%;
    height: 60%;
}


nav {

    grid-area: nav;
    flex-direction: column;
    background-color: grey;
    height: 90vh;
    width: 25%;
    border: solid 1px #b5b9af
}


.productos {
    display: flex;
    width: 250px;
    height: 100px;

    img {
        margin: 3%;
        width: 70px;
        height: 70px;

        // border-radius: 50%;
    }

}

.nombre {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10% 10% 30% 10%;
}


.nombreProductos {
    font-family: 'Roboto Flex', sans-serif;
    color: black;
    font-size: 13px;
    margin: 40% 0% 0% 0%;

}


.footer {

    grid-area: footer;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: -20px 0px 0px 0px;

}